body .reveal .slides {
  text-align: left;}

.reveal h1 {
  font-size: 2.55em; }

.reveal h2 {
  font-size: 1.99em; }

.reveal pre {
  width: 100%;
  font-size: .55em;
}

.reveal pre code {
  background: #000;
  max-height: 23em;
}

#remotes-and-forks-origin-and-upstream ul {
  display: inline;
}

#remotes-and-forks-origin-and-upstream figure {
  float: left;
  width: 50%;
}
